absl-py==1.4.0
aiofiles==22.1.0
aiohttp==3.8.4
aioitertools==0.11.0
aiosignal==1.3.1
aiosqlite==0.19.0
alabaster==0.7.13
ansiwrap==0.8.4
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
astroid==2.15.4
asttokens==2.2.1
async-lru==2.0.2
async-timeout==4.0.2
atomicwrites==1.4.1
attrs==23.1.0
autopep8==2.0.2
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
binaryornot==0.4.4
black @ git+https://github.com/psf/black@db3668a381e82866269ff25cb4cd11d2a53d009a
bleach==6.0.0
bokeh==2.4.3
boto3==1.26.145
botocore==1.29.145
cachetools==5.3.0
certifi==2022.12.7
cffi==1.15.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
clickhouse-connect==0.5.23
clickhouse-driver==0.2.6
cloudpickle==2.2.1
cmake==3.26.3
colorama==0.4.6
colorcet==3.0.1
comm==0.1.3
component==0.0.1
configparser==5.3.0
contourpy==1.0.7
cookiecutter==2.1.1
croniter==1.3.14
cryptography==40.0.2
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
diff-match-patch==20200713
dill==0.3.6
distlib==0.3.6
dnspython==2.3.0
docopt==0.6.2
docstring-parser==0.15
docstring-to-markdown==0.12
docutils==0.19
duckdb==0.8.0
elyra-examples-kfp-catalog==0.1.0
entrypoints==0.4
executing==1.2.0
fastjsonschema==2.16.3
filelock==3.12.0
fire==0.5.0
flake8==6.0.0
fonttools==4.39.3
fqdn==1.5.1
friendly==0.7.21
friendly-styles==0.2
friendly-traceback==0.7.61
frozenlist==1.3.3
fsspec==2023.4.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.0
google-api-python-client==1.12.11
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
greenlet==2.0.2
holoviews==1.15.4
httplib2==0.22.0
huggingface-hub==0.14.1
hvplot==0.8.3
idna==3.4
imagesize==1.4.1
importlib-metadata==6.6.0
inflection==0.5.1
influxdb-client==1.36.1
intervaltree==3.1.0
ipykernel==6.23.1
ipython==8.13.2
ipython-genutils==0.2.0
ipywidgets==8.0.6
iqoptionapi @ https://github.com/iqoptionapi/iqoptionapi/archive/refs/heads/master.zip#sha256=25326cba8e21bc3bb082ab2bd21282f435ce25589d89499a92e1879559c4ca42
isoduration==20.11.0
isort==5.12.0
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
jellyfish==0.11.2
Jinja2==3.1.2
jinja2-time==0.2.0
jmespath==1.0.1
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter-lsp==2.1.0
jupyter-resource-usage==0.7.2
jupyter-server-mathjax==0.2.6
jupyter-ydoc==0.2.4
jupyter_client==8.2.0
jupyter_core==5.3.0
jupyter_packaging==0.12.3
jupyter_scheduler==1.3.1
jupyter_server==2.5.0
jupyter_server_fileid==0.9.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.8.0
jupyterlab==3.6.3
jupyterlab-git==0.41.0
jupyterlab-lsp==4.1.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_code_formatter==2.0.0
jupyterlab_server==2.22.1
keyring==23.13.1
kfp==1.8.20
kfp-pipeline-spec==0.1.16
kfp-server-api==1.8.5
kfp-tekton==1.6.5
kfp-tekton-server-api==1.5.0
kiwisolver==1.4.4
kubernetes==25.3.0
lab==7.3
lazy-object-proxy==1.9.0
lit==16.0.1
lz4==4.3.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
minio==7.1.14
mistune==2.0.5
Monary==0.5.0
more-itertools==9.1.0
mpmath==1.3.0
multidict==6.0.4
mypy-extensions==1.0.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbdime==3.2.1
nbformat==5.8.0
nest-asyncio==1.5.6
networkx==3.1
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.23.1
numpydoc==1.5.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
packaging==23.1
pandas==1.5.3
pandocfilters==1.5.0
panel==0.14.4
papermill==2.4.0
param==1.13.0
parso==0.8.3
pathspec==0.11.1
pdmongo==0.3.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pipenv==2023.4.29
pipreqs==0.4.13
pipreqsnb==0.2.4
platformdirs==3.5.1
pluggy==1.0.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.5
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.10.0
pycparser==2.21
pyct==0.5.0
pydantic==1.10.7
pydocstyle==6.3.0
pyflakes==3.0.1
PyGithub==1.58.1
Pygments==2.15.1
PyJWT==2.6.0
pylint==2.17.3
pylint-venv==3.0.1
pyls-spyder==0.4.0
pymongo==4.3.3
PyNaCl==1.5.0
pyparsing==3.0.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent==0.19.3
python-dateutil==2.8.2
python-dotenv==1.0.0
python-gitlab==3.14.0
python-json-logger==2.0.7
python-lsp-black==1.2.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.2
python-slugify==8.0.1
pytoolconfig==1.2.5
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.2.1
pyxdg==0.28
PyYAML==6.0
pyzmq==25.0.2
qbstyles==0.1.4
QDarkStyle==3.1
qPython==2.0.0
qstylizer==0.2.2
QtAwesome==1.2.3
qtconsole==5.4.3
QtPy==2.3.1
reactivex==4.0.4
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.3.5
rope==1.7.0
rsa==4.9
Rtree==1.0.1
Rx==3.2.0
s3fs==0.4.2
s3transfer==0.6.1
scipy==1.10.1
SecretStorage==3.3.3
Send2Trash==1.8.2
simplejson==3.19.1
six==1.16.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.4.1
Sphinx==7.0.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.4.3
spyder-kernels==2.4.3
SQLAlchemy==1.4.48
stack-data==0.6.2
streamz==0.6.4
strip-hints==0.1.10
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.2
termcolor==2.3.0
terminado==0.17.1
text-unidecode==1.3
textdistance==4.5.0
textwrap3==0.9.2
three-merge==0.1.1
tinycss2==1.2.1
tokenizers==0.13.3
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.28.1
triton==2.0.0
tweepy==4.14.0
txt2tags==3.8
typer==0.9.0
typing_extensions==4.5.0
tz==0.2.2
tzdata==2023.3
tzlocal==4.3
ujson==5.7.0
uri-template==1.2.0
uritemplate==3.0.1
urllib3==1.26.15
virtualenv==20.23.0
virtualenv-clone==0.5.7
watchdog==3.0.0
wcwidth==0.2.6
webcolors==1.13
webencodings==0.5.1
websocket-client==1.5.1
whatthepatch==1.0.4
widgetsnbextension==4.0.7
wrapt==1.15.0
wurlitzer==3.0.3
xeus-python==0.15.8
xeus-python-shell==0.5.0
y-py==0.5.9
yapf==0.32.0
yarg==0.1.9
yarl==1.9.2
yaspin==2.3.0
ypy-websocket==0.8.2
zict==3.0.0
zipp==3.15.0
zstandard==0.21.0
