clickhouse_driver==0.2.6
duckdb==0.8.0
influxdb_client==1.36.1
matplotlib==3.7.1
minio==7.1.14
numpy==1.23.1
pandas==1.5.3
pdmongo==0.3.4
pymongo==4.3.3
python-dotenv==1.0.0
pytz==2022.7
pytz==2023.3
qbstyles==0.1.4
qPython==2.0.0
SQLAlchemy==1.4.48